@model Application.LogicLayer.ImplementedClass.Models.PersonModel.PersonRequirements

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">MyUser</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nutrients chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="MyUserPlot"></div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
<!-- Flot Charts JavaScript -->

<script src="@Url.Content("~/bower_components/flot/excanvas.min.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.resize.js")"></script>
<script src="@Url.Content("~/bower_components/flot/jquery.flot.time.js")"></script>
<script src="@Url.Content("~/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js")"></script>
<script src="@Url.Content("~/Scripts/MyUser-data.js")"></script>
