@model Models.IndexesViewModel

<div>
    <h4>IndexesViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrockIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrockIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrockBrush)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrockBrush)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lorentz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lorentz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsInsurence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsInsurence)
        </dd>

    </dl>
</div>
<p>
   
</p>
